version: "3.4"

services:
  jupyterhub:
    container_name: jupyterhub
    build:
      context: .
      dockerfile: Dockerfile.jupyterhub
    ports:
      - '8001:8000'
    volumes:
      # Bind Docker socket on the host so we can connect to the daemon from within the container
      - "/var/run/docker.sock:/var/run/docker.sock:rw"

networks:
  default:
    external:
      name: jupyterhub-network